*{
	margin: 0;
	padding: 0;
}

header{
	background-color: #D16167;
	margin-bottom: 20px;
}

h1{
	padding: 50px;
	text-align: center;
	color: white;
	font-size: 50px;
	text-transform: uppercase;
}
.images li{
	display: inline;
}
.images li img{
	height: 50vh;
	float:left;
	width: 50%;
}

.names li{
	display: inline-block;
	padding: 10px 13%; 
}

#Halloween{
	float: right;
}

a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid  #D16167;
	border-radius: 20px;
	background-color:  #D16167;
}

footer{
	background-color: #D16167;
	margin-top: 20px;
	text-align: center;
}

h3{
	padding-top: 25px;
	color: white;
	font-size: 50px;
	text-transform: uppercase;
}

footer li{
	display: inline-block;
	font-size: 15px;
	color: #fff;
	margin-right: 20px;
	padding-bottom: 12px;

}