* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(54, 179, 179);
}

a {
    color: rgb(134, 88, 88);
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #796eb8;
    border-radius: 20px;
    background-color: #796eb8;
}

h2 {
    color: brown;
    text-align: center;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
    height: 40vw;
    width: 100%;
}

.flex1_1 {
    width: 60%;
    height: 33%;
    background-color: rgb(235, 97, 88);
    background-size: cover;
}

.flex2_1 {
    width: 40%;
    height: 33%;
    background-color: rgb(107, 19, 13);
    background-size: cover;
}


.flex1_2 {
    width: 15%;
    height: 34%;
    background-color: rgb(79, 160, 120);
    background-size: cover
}

.flex2_2 {
    width: 30%;
    height: 34%;
    background-color: rgb(10, 85, 7);
    background-size: cover
}

.flex3_2 {
    width: 40%;
    height: 34%;
    background-color: rgb(57, 170, 76);
    background-size: cover
}

.flex4_2 {
    width: 15%;
    height: 34%;
    background-color: rgb(33, 134, 8);
    background-size: cover
}

.flex1_3 {
    width: 100%;
    height: 33%;
    background-color: rgb(53, 41, 41);
    background-size: cover;
}